
*
{
    margin: 0;
    padding: 0;
}

.flex-container
{
 width: 70%;
 height: 200px;
 display: flex;
 background-color: gray;
 margin: auto;
 margin-top: 30px;

 justify-content: center;
 justify-content: flex-start;
 justify-content: flex-end;
 justify-content: space-between;
 justify-content: space-around;
 align-items: flex-start;
 align-items: flex-end;
 align-items: center;

}

.flex-container > div
{
    background-color: white;
    width: 50px;
    height: 50px;
    color: black;    
    text-align: center;
    margin-top: 10px;
}

#dos,#siete
{
    background-image: linear-gradient(lightblue,violet);
    align-self: flex-start;
}

#tres,#nueve
{
    background-image: linear-gradient(lightblue,blue);
    align-self: flex-end;
}


