.principal
{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: kprincipal;
    animation-delay: 10s;
    animation-duration: 12s;
   
}


.secundaria
{
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation-name: ksecundaria;
    animation-duration: 12s;
}

@keyframes kprincipal
{
    /*
    from{background-color: red;}
    to{background-color: yellow;}
    */
    0%{background-color: red;}
    25%{background-color: blue;}
    50%{background-color: brown;}
    75%{background-color: turquoise;}
    100%{background-color: black;}

}



@keyframes ksecundaria
{
    from{background-color: yellow;}
    to{background-color: red;}
}



