fieldset
{
    background-color: #ccc;
    max-width: 500px;
}

h1{text-align: center;color:red;}
h2{color:blue;text-align: center;}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #centrado
{
    max-width: 500px;
    margin: auto;
}
